body {
    background-image: url('https://example.com/restaurant-background.jpg'); /* Reemplaza con la URL de una imagen alusiva a un restaurante */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    text-align: left;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d35400; /* Color alusivo a comida (naranja) */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #e67e22; /* Cambio de color al pasar el cursor */
}
